<div class="d-flex flex-column min-vh-100 min-vw-100">
  <div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" >
        <gb-input label="Email" id="email">
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            class="form-control"
          />
        </gb-input>
        <gb-input label="Password">
          <input
            type="password"
            formControlName="password"
            placeholder="Enter your password"
            class="form-control"
          />
        </gb-input>

        <gb-button
        [disabled]="loginForm.invalid"
        >
          submit
        </gb-button>
      </form>
    </div>
  </div>
</div>
