<page-header header="Add new recipe" />
<form [formGroup]="menuForm">
  <input-group header="General">
    <gb-input
      class="col-md-4"
      label="Menu"
      [showError]="showErrors"
      [control]="menuFormControls.menuID"
    >
      <!-- <ng-select
        formControlName="menuID"
        bindLabel="name"
        bindValue="id"
        [items]="menu$ | async"
      /> -->
    </gb-input>
    <gb-input
      class="col-md-4"
      label="Name"
      [showError]="showErrors"
      [control]="menuFormControls.name"
    >
      <input type="text" formControlName="name" />
    </gb-input>
    <gb-input
      class="col-md-4"
      [showError]="showErrors"
      label="Price"
      [control]="menuFormControls.price"
    >
      <input type="number" formControlName="price" />
    </gb-input>
    <gb-input
      class="col-md-4"
      label="Description"
      [showError]="showErrors"
      [control]="menuFormControls.description"
    >
      <textarea type="text" formControlName="description"></textarea>
    </gb-input>
  </input-group>

  <input-group header="Nutritional Information">
    <gb-input
      class="col-md-4"
      label="Protien"
      [showError]="showErrors"
      [control]="menuFormControls.protien"
    >
      <input type="number" formControlName="protien" />
    </gb-input>
    <gb-input
      class="col-md-4"
      label="Fat"
      [control]="menuFormControls.fat"
      [showError]="showErrors"
      ><input formControlName="fat" type="number" />
    </gb-input>
    <gb-input
      class="col-md-4"
      label="Energy"
      [showError]="showErrors"
      [control]="menuFormControls.energy"
      ><input type="number" formControlName="energy"
    /></gb-input>
    <gb-input
      class="col-md-4"
      label="Carbs"
      [showError]="showErrors"
      [control]="menuFormControls.carbs"
      ><input type="number" formControlName="carbs"
    /></gb-input>
    <gb-input
      class="col-md-4"
      label="Calories"
      [showError]="showErrors"
      [control]="menuFormControls.calories"
      ><input type="number" formControlName="calories"
    /></gb-input>
  </input-group>

  <input-group header="Others">
    <gb-input
      class="col-md-4"
      label="Ingredients"
      [showError]="showErrors"
      [control]="menuFormControls.ingredients"
    >
      <!-- <ng-select
        formControlName="ingredients"
        bindLabel="name"
        bindValue="id"
        [multiple]="true"
        [items]="ingredients$ | async"
      /> -->
    </gb-input>
  </input-group>

  <input-group header="Images">
  <gb-input
    class="col-md-4"
    label="Ingredients"
    [showError]="showErrors"
    [control]="menuFormControls.ingredients"
  >
   <!-- <input type="image" multiple (change)="handleChange($event)" /> -->
  </gb-input>
</input-group>

  <gb-button
    variant="inverse"
    [disabled]="submitButton !== 'submit'"
    (onClick)="handleSubmit()"
    type="button"
  >
    {{ submitButton }}
  </gb-button>
</form>
